@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(45, 43, 60);
  font-family: "Inter", sans-serif;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2rem solid rgba(255, 255, 255, 0);
}

h3 {
  margin-top: 1rem;
}

/* Listan för menu objekten */
nav ul {
  margin: 1rem;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid rgba(255, 255, 255, 0);
  border-width: 1rem 2rem;
}

/* Länkarna i menu objektet */
nav a {
  color: rgb(184, 184, 184);
  text-decoration: none;
  border: solid;
  padding: 0.2rem;
  border-color: rgba(137, 137, 137, 0.675);
  background-color: rgba(220, 220, 220, 0.1);
  border-style: outset;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

/* Länken som är aktiv */
nav a.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
